<!DOCTYPE html>
<html>
    <head>
        
    </head>

    <body>
        <main>
            <a href="{% url 'home' %}"><h1>Bosh sahifa</h1></a>
            <form method="post" action="{% url 'logout' %}">{% csrf_token%}
                <button type="submit">Chiqish</button></form>
            {% if messages %}
                {% for message in messages %}
                    <h2>Xabar:{{ message }}</h2>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html> 